@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100&display=swap");

@import url("components/container.css");

@import url("components/banner.css");

@import url("components/button.css");



body {
	font-family: 'IBM Plex Sans Arabic', sans-serif;
	font-size: 18px;
	font-weight: bold;
	background-color: #E8F0F2;
	color: #5EAAA8;
}

h1 {
	font-family: "Noto sans-serif;";
	font-weight: bolder;
	color: #CF1B1B;
	font-size: 50px;
} 

h2, h3 {
	font-family: 'Noto Sans', sans-serif;
	font-weight: bolder;
	color: #CF1B1B;
}

.section {
	display: flex;
}

.card-red {
	background-color: F0D9FF ;
	padding: 90px ;
	margin: 70px 0 ;
	border-radius: 100px ;
	box-shadow: 10px 10px 20px rgba(0, 0, 0, 1.0);
	flex-grow: 1;
	flex-basis: 250px;
}

.card-red img {
	object-fit: cover;
	margin-left: 60px;
}

.btn {
	background-color: #CF1B1B;
	padding: 15px 20px;
	border-radius: 4px;
}

#contact {
	text-align: center;
}