.banner {
	background-image: url("../../images/mountain.jpg");
	height: 100vh;
	background-size: cover;
	background-position: center;
}

.banner .container{
	display: flex;
	height: 100%;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}